<div class="container mx-auto p-8 bg-white rounded-lg  max-w-3xl">
  <button onclick="window.history.back()"  class="mr-4 text-gray-600 hover:text-gray-800">
    <!-- You can use an icon for the back button -->
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
    </svg>
  </button>
    <h1 class="text-2xl font-bold mb-4">{{ isEditing ? 'Edit Event' : 'Create New Event' }}</h1>
  
    <form (ngSubmit)="submitEvent()" #eventForm="ngForm">
      <div class="mb-4">
        <label for="name" class="block text-sm font-medium text-gray-700">Nom de l'Événement</label>
        <input type="text" id="name" name="name" [(ngModel)]="event.name" class="mt-1 p-2 border rounded-md w-full" required>
      </div>
  
      <div class="mb-4">
        <label for="image" class="block text-lg font-semibold text-gray-700">Image</label>
        <div *ngIf="selectedImageFile || existingImageUrl" class="relative mt-2">
            <img [src]="getPreviewUrl(selectedImageFile)" alt="Event Image Preview" class="h-48 w-full object-cover rounded-lg shadow-lg">
            <button type="button" (click)="removeImage()" 
                    class="absolute top-0 right-0 m-2 bg-red-500 text-white rounded-full p-1 hover:bg-red-600 transition duration-300">
              <i class="fas fa-times"></i>
            </button>
          </div>
        <input type="file" id="image" name="image" (change)="onImageSelected($event)" 
               class="mt-2 p-2 border border-gray-300 rounded-lg w-full focus:ring focus:ring-green-200">
      </div>
  
      <div class="mb-4">
        <label for="dateTime" class="block text-sm font-medium text-gray-700">
          Date et Heure</label>
        <input type="datetime-local" id="dateTime" name="dateTime" [(ngModel)]="event.dateTime" class="mt-1 p-2 border rounded-md w-full" required>
      </div>
  
      <div class="mb-4">
        <label for="eventType" class="block text-sm font-medium text-gray-700">
          Type d'Événement</label>
        <select id="eventType" name="eventType" [(ngModel)]="event.eventType" class="mt-1 p-2 border rounded-md w-full" (change)="onEventTypeChange()">
          <option value="online">En ligne </option>
          <option value="offline">En présentiel</option>
        </select>
      </div>
  
      <div *ngIf="event.eventType === 'offline'" class="mb-4">
        <label class="block text-sm font-medium text-gray-700">Lieu</label>
        <div id="map" class="h-64 rounded-lg overflow-hidden border border-gray-300 mb-4"></div> 
        <button type="button" (click)="requestLocation()" 
        class="w-full bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-4 rounded-lg transition duration-300">
       Position actuelle
      </button>
        <div *ngIf="selectedLocation">
          <p>Selected Location: {{ selectedLocation.lat }}, {{ selectedLocation.lng }}</p>
        </div>
      </div>
  
      <div *ngIf="event.eventType === 'offline'" class="mb-4">
        <label for="locationText" class="block text-sm font-medium text-gray-700">Location (Text)</label>
        <input type="text" id="locationText" name="locationText" [(ngModel)]="event.locationText" class="mt-1 p-2 border rounded-md w-full">
      </div>
  
      <div class="mb-4">
        <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
        <textarea id="description" name="description" [(ngModel)]="event.description" rows="4" class="mt-1 p-2 border rounded-md w-full"></textarea>
      </div>
  
      <button type="submit" [disabled]="!eventForm.form.valid" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
        {{ isEditing ? 'Update Event' : 'Create Event' }}
      </button>
    </form>
  </div>